<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crud</title>
</head>
<body>
<div class="container">
    <a href="/crud/add" class="btn btn-primary">Añadir película</a>
    <table class="table stripped">
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Sinopsis</th>
            <th>Nacionalidad</th>
            <th>Fecha</th>
            <th>Modificar</th>
            <th>Borrar</th>
        </tr>
        <!--El nombre de peliculas es el que viene del controlador crud-->
        <tr th:each="p:${peliculas}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.titulo}"></td>
            <td th:text="${#strings.substring(p.getSinopsis(), 0, 15)}"></td>
            <td th:text="${p.getNacionalidad()}"></td>
            <td th:text="${p.getFecha()}"></td>
            <td>
                <a th:href="'/crud/update/' + ${p.id}" class="btn btn-primary">Modificar</a>
            </td>
            <td>
                <a th:href="'/crud/delete/' + ${p.id}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas borrar este elemento?')">Borrar</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>